@page
@model ClubMembership_RazorPages.Pages.AdminPages.ClubPages.ClubMembership.IndexModel

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <tr>
        <td>Code</td>
        <td>@Model.Club.Code </td>
        <Td><img src="@Model.Club.Logo" /> </Td>
    </tr>
     <tr>
        <td>Name</td>
        <td>@Model.Club.Name</td>
    </tr>
     <tr>
        <td>CreateDate</td>
        <td>@Model.Club.CreateDate.Day/@Model.Club.CreateDate.Month/@Model.Club.CreateDate.Year</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>@Model.Club.Description</td>
    </tr>
    <tr>
        <td>Members</td>
        <td>@Model.CurrentMembership.Count</td>
    </tr>


</table>

<p>
    <a asp-page="Create" asp-route-id="@Model.Club.Id">Create New</a>
</p>
<h3>Currect Member</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CurrentMembership[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentMembership[0].JoinDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentMembership[0].LeaveDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentMembership[0].Student.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentMembership[0].Student.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.CurrentMembership)
        {
            @if (item.Status == true)
            {
                <tr>
                    <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                        <h6>@item.JoinDate.Day/@item.JoinDate.Month/@item.JoinDate.Year</h6>
            </td>
                    @if (item.LeaveDate != null)
                    {
                      <td>
                            <h6>@item.LeaveDate.Value.Day/@item.LeaveDate.Value.Month/@item.LeaveDate.Value.Year</h6>
                        </td>
                    }
                    else
                    {
                        <td>Not yet</td>
                    }
                   
            <td>
                @Html.DisplayFor(modelItem => item.Student.Code)
            </td>
                    @if (item.Student.Gender)
                    {
                       <td style="color:blue">
                        @Html.DisplayFor(modelItem => item.Student.Name)
                        </td>
                    }
                    else
                    {
                        <td style="color:deeppink">
                            @Html.DisplayFor(modelItem => item.Student.Name)
                        </td>
                    }
                    
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>   
           }
}
    </tbody>
</table>
<h3>Old member</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AllMembership[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllMembership[0].JoinDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllMembership[0].LeaveDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllMembership[0].Student.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllMembership[0].Student.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AllMembership)
        {
            @if (item.LeaveDate != null)
            {
                @if (item.LeaveDate.Value.CompareTo(DateTime.Now) == -1)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            <h6>@item.JoinDate.Day/@item.JoinDate.Month/@item.JoinDate.Year</h6>
                        </td>
                            <td>
                                <h6>@item.LeaveDate.Value.Day/@item.LeaveDate.Value.Month/@item.LeaveDate.Value.Year</h6>
                            </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Student.Code)
                        </td>
                        @if (item.Student.Gender)
                        {
                            <td style="color:blue">
                                @Html.DisplayFor(modelItem => item.Student.Name)
                            </td>
                        }
                        else
                        {
                            <td style="color:deeppink">
                                @Html.DisplayFor(modelItem => item.Student.Name)
                            </td>
                        }

                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                
                }
            }
        }
        
    </tbody>
</table>