@page
@model ClubMembership_RazorPages.Pages.AdminPages.StudentsModel

@{
    ViewData["Title"] = "Students";
}


@*
<p>
    <a asp-page="Create">Create New</a>
</p>*@
<h1>All Majors in system</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Majors[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Majors[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Majors[0].Description)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Majors)
        {
            @if (item.Status==true)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem=>item.Code)</td>
                    <td>@Html.DisplayFor(modelItem=>item.Name)</td>
                    <td>@Html.DisplayFor(modelItem=>item.Description)</td>
                </tr>
            }
        }
    </tbody>
</table>

<h1>All Grades in system</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Grades[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grades[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grades[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grades[0].EndDate)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Grades)
        {
            @if (item.Status == true)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem=>item.Code)</td>
                    <td>@Html.DisplayFor(modelItem=>item.Description)</td>
                    <td><h6>@item.StartDate.Day/@item.StartDate.Month/@item.StartDate.Year</h6></td>
                    @if (item.EndDate != null)
                    {
                        <td><h6>@item.EndDate.Value.Day/@item.EndDate.Value.Month/@item.EndDate.Value.Year</h6></td>
                    }
                    else{
                    <td>N/A</td>
                    }
                </tr>
            }
        }
    </tbody>
</table>
<h1>Students</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].DateEnroll)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Major)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Student) {
            @if (item.Status == true)
            {
                <tr>
                    <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                        @if (item.Gender)
                        {
                            <h6 style="color:blue">Male</h6>
                        }
                        else
                        {
                            <h6 style="color:deeppink">Female</h6>
                        }
                   
            <td>
                        <h5>@item.Birthday.Day/@item.Birthday.Month/@item.Birthday.Year</h5>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEnroll)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Major.Code)
            </td>
           @* <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>*@
        </tr>
        }
}
    </tbody>
</table>
