@page
@model ClubMembership_RazorPages.Pages.AdminPages.ClubPages.ClubsModel

@{
    ViewData["Title"] = "Clubs";
}

<h1>Clubs</h1>

@*<p>
    <a asp-page="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Club[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Club[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Club[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Club[0].CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Club[0].Logo)
            </th>
            <th><h6>Members</h6></th>
            <th><h6>Activities</h6></th>
            <th><h6>Boards</h6></th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Club) {
            @if (item.Status == true)
            {
                <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Logo)
            </td>
            <td>@Model.Members[item.Id] <a asp-page="./ClubMembership/Index" asp-route-id="@item.Id"> (View detail)</a> </td>
            <td>@Model.Activities[item.Id]</td>
            <td>@Model.ClubBoards[item.Id]<a asp-page="./ClubBoards/Index" asp-route-id="@item.Id"> (View detail)</a></td>

@*            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>*@
        </tr> 
            }
           
}
    </tbody>
</table>
