@page
@model ClubMembership_RazorPages.Pages.AdminPages.ClubPages.ClubActivities.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ClubActivity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClubActivity.Title" class="control-label"></label>
                <input asp-for="ClubActivity.Title" class="form-control" />
                <span asp-validation-for="ClubActivity.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClubActivity.Description" class="control-label"></label>
                <input asp-for="ClubActivity.Description" class="form-control" />
                <span asp-validation-for="ClubActivity.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClubActivity.StartDate" class="control-label"></label>
                <input asp-for="ClubActivity.StartDate" class="form-control" />
                <span asp-validation-for="ClubActivity.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClubActivity.EndDate" class="control-label"></label>
                <input asp-for="ClubActivity.EndDate" class="form-control" />
                <span asp-validation-for="ClubActivity.EndDate" class="text-danger"></span>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Member</th>
                        <th>Attend</th>
                        <th>Mission</th>
                    </tr>
                </thead>
                <tbody>
                    @for(int i=0;i<Model.Memberships.Count;i++ )
                    {
                        <tr>
                            <td>@Model.Memberships[i].Code</td> 
                                <td>@Model.Memberships[i].Student.Code - @Model.Memberships[i].Student.Name</td>
                                  <td><input type="checkbox" asp-for="@Model.Attent[i]"  /></td>
                                   <td><input type="text" asp-for="@Model.Missions[i]" value="Nothing"  /></td>
                        </tr>
                    }
                </tbody>
            </table>
            <input type="hidden" asp-for="ClubActivity.ClubId" value="@Model.Memberships[0].ClubId" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<h3 class="text-danger">@ViewData["Nofication"]</h3>
<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
