@page
@model ClubMembership_RazorPages.Pages.AdminPages.ClubPages.ClubActivities.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.ClubActivity.Club)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.ClubActivity.Club.Code)
</dd>
<div>
    <h4>ClubActivity</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClubActivity.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClubActivity.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClubActivity.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClubActivity.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClubActivity.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClubActivity.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClubActivity.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClubActivity.EndDate)
        </dd>
    </dl>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Code
                </th>
                <th>Member</th>
                <th>Join Date</th>
                <th>
                    Attend
                </th>
                <th>Mission</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Participants)
            {
                <tr>
                    <td>@item.Membership.Code</td>
                    <td>@item.Membership.Student.Code - @item.Membership.Student.Name</td>
                    <td>@item.JoinDate.Day/@item.JoinDate.Month/@item.JoinDate.Year</td>
                    @if (item.Attend==true)
                    {
                        <td>Going...</td>
                    }
                    else
                    {
                        <td>Quit attend</td>
                    }
                    <td>@item.Mission</td> 
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ClubActivity?.Id">Edit</a> |
    <a asp-page="./Adjust" asp-route-id="@Model.ClubActivity.Id">Adjust Participant</a>|
    <a asp-page="./Index" asp-route-id="@Model.ClubActivity.Id">Back to List</a>
</div>
