@page
@model ClubMembership_RazorPages.Pages.AdminPages.ClubPages.ClubActivities.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ClubActivity</h4>
<hr />
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.ClubActivity.Club)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.ClubActivity.Club.Code)
</dd>
<div>
    <h4>ClubActivity</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClubActivity.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClubActivity.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClubActivity.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClubActivity.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClubActivity.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClubActivity.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClubActivity.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClubActivity.EndDate)
        </dd>
    </dl>
    <form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Code
                </th>
                <th>Member</th>
                <th>Join Date</th>
                <th>
                    Attend
                </th>
                <th>Mission</th>
            </tr>
        </thead>
        <tbody>
            @for (int i=0;i< Model.Participants.Count;i++)
            {
                <tr>
                    <td>@Model.Participants[i].Membership.Code</td>
                    <td>@Model.Participants[i].Membership.Student.Code - @Model.Participants[i].Membership.Student.Name</td>
                    <td>@Model.Participants[i].JoinDate.Day/@Model.Participants[i].JoinDate.Month/@Model.Participants[i].JoinDate.Year</td>
                        @if (Model.Participants[i].Attend==true)
                        {
                            <td><input type="checkbox" asp-for="@Model.Attent[i]" checked="checked" /></td>
                        }
                        else

                        {
                            <td><input type="checkbox" asp-for="@Model.Attent[i]" /></td>
                        }
                        <td><input type="text" asp-for="@Model.Missions[i]" value="@Model.Participants[i].Mission" /></td>
                </tr>
            }
        </tbody>
    </table>
    <input type="submit" value="Update" />
    </form>
</div>

<div>
    <a asp-page="./Index" asp-route-id="@Model.ClubActivity.Id">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
